name: Compile LaTeX

on: push

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@master
      with:
        root_file: cv.tex
